<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alumni Page</title>
    <link rel="stylesheet" href="/static/alumnipagestyles.css" />
  </head>
  <body>
    <header>
      <h1>Meet Our Alumni</h1>
    </header>

    <div class="alumni-container">
      <div
        class="alumni-card"
        onclick="redirectAlumniProfile('alumni1-profile.html')"
      >
        <img src="/static/alumni1.jpeg" alt="Alumni 1" class="alumni-img" />
        <h3>Sri Ram</h3>
        <p>Software Engineer</p>
        <p class="declaration-year">Year of Declaration: 2020</p>
        <a
          href="https://www.linkedin.com/in/nainasri-kalakuri-542344328/"
          class="linkedin-link"
          >View LinkedIn</a
        >
      </div>
      <div
        class="alumni-card"
        onclick="redirectAlumniProfile('alumni2-profile.html')"
      >
        <img src="/static/alumni2.jpeg.jpg" alt="Alumni 2" class="alumni-img" />
        <h3>Arjun</h3>
        <p>Data Scientist</p>
        <p class="declaration-year">Year of Declaration: 2019</p>
        <a href="https://www.linkedin.com/in/nainasri-kalakuri-542344328/" class="linkedin-link"
          >View LinkedIn</a
        >
      </div>
      <div
        class="alumni-card"
        onclick="redirectAlumniProfile('alumni3-profile.html')"
      >
        <img src="/static/alumni.jpeg.jpg" alt="Alumni 3" class="alumni-img" />
        <h3>Arun</h3>
        <p>Product Manager</p>
        <p class="declaration-year">Year of Declaration: 2018</p>
        <a href="https://www.linkedin.com/in/alumni3" class="linkedin-link"
          >View LinkedIn</a
        >
      </div>
      <div
        class="alumni-card"
        onclick="redirectAlumniProfile('alumni4-profile.html')"
      >
        <img src="/static/alumni4.jpeg.jpg" alt="Alumni 4" class="alumni-img" />
        <h3>Raj</h3>
        <p>UX Designer</p>
        <p class="declaration-year">Year of Declaration: 2021</p>
        <a href="https://www.linkedin.com/in/alumni4" class="linkedin-link"
          >View LinkedIn</a
        >
      </div>
      <div
        class="alumni-card"
        onclick="redirectAlumniProfile('alumni5-profile.html')"
      >
        <img src="/static/alumni5.jpeg.jpg" alt="Alumni 5" class="alumni-img" />
        <h3>Sri</h3>
        <p>Marketing Manager</p>
        <p class="declaration-year">Year of Declaration: 2017</p>
        <a href="https://www.linkedin.com/in/alumni5" class="linkedin-link"
          >View LinkedIn</a
        >
      </div>
      <div
        class="alumni-card"
        onclick="redirectAlumniProfile('alumni6-profile.html')"
      >
        <img src="/static/alumni6.jpeg" alt="Alumni 5" class="alumni-img" />
        <h3>Lasya</h3>
        <p>Data Analyst</p>
        <p class="declaration-year">Year of Declaration: 2018</p>
        <a href="https://www.linkedin.com/in/alumni6" class="linkedin-link"
          >View LinkedIn</a
        >
      </div>
      <div
        class="alumni-card"
        onclick="redirectAlumniProfile('alumni6-profile.html')"
      >
        <img src="/static/alumni7.jpeg" alt="Alumni 7" class="alumni-img" />
        <h3>Neelish</h3>
        <p>software engineer</p>
        <p class="declaration-year">Year of Declaration: 2018</p>
        <a href="https://www.linkedin.com/in/alumni7" class="linkedin-link"
          >View LinkedIn</a
        >
      </div>
      <div
        class="alumni-card"
        onclick="redirectAlumniProfile('alumni6-profile.html')"
      >
        <img src="/static/alumni8.jpeg" alt="Alumni 8" class="alumni-img" />
        <h3>Harika</h3>
        <p>HR</p>
        <p class="declaration-year">Year of Declaration: 2018</p>
        <a href="https://www.linkedin.com/in/alumni8" class="linkedin-link"
          >View LinkedIn</a
        >
      </div>
    </div>

    <script>
      function redirectAlumniProfile(profileUrl) {
        window.location.href = profileUrl;
      }
    </script>
  </body>
</html>
